.site img{
	height: 300px;
}

#letra{
	margin-top: 40px;
}

.page-header{
	text-align: center;
}

.foto img{
	height: 300px;
}

.palavra {
	font-size: 36pt;
}

.palavra li {
	font-size: 20pt;
}